{{ if or .Date .Params.tags (.Params.showwordcount | default .Site.Params.showwordcount) }}
    <h3 style="margin-top:10px; margin-bottom:10px">
        {{ if .Date }}
            <i class="layui-icon layui-icon-date" style="font-size: 24px; vertical-align: -2px;" title="date"></i>
            <span>{{.Date.Format "2006-01-02"}}</span>
        {{ end }}

        {{ if .Params.showwordcount | default .Site.Params.showwordcount }}
            <i class="layui-icon layui-icon-read" style="font-size: 24px; vertical-align: -2px;" title="words"></i>
            <span>{{ .WordCount }}</span>
        {{ end }}

        {{ if .Params.tags }}
            <i class="layui-icon layui-icon-tabs" style="font-size: 22px; vertical-align: 0px;" title="tags"></i>
            {{ range .Params.tags }}
                <a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}/">
                    <span class="layui-badge" style="vertical-align: 2px;">{{ . }}</span>
                </a>
            {{ end }}
        {{ end }}
    </h3>
{{ end }}
